/* GENERAL STYLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #21333e;
  background: #eef4ed;
}

a {
  text-decoration: none;
  color: #21333e;
}

li {
  list-style: none;
}

/* Typhography */
h1 {
  font-size: 80px;
  margin-bottom: 35px;
}

h2 {
  font-size: 50px;
  margin: 35px 0;
}

h3 {
  font-size: 25px;
  margin-bottom: 25px;
}

h4 {
  text-transform: uppercase;
  color: #00a6a6;
}

p {
  font-size: 18px;
}

/* Utilities */
.container {
  position: relative;
  width: 1150px;
  height: 100%;
  margin: auto;
}

.flex-spb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-spb-col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

button {
  text-transform: uppercase;
  font-size: 18px;
  padding: 15px 30px;
  color: #fff;
  background: #038484;
  border-radius: 5px;
  border: none;
  outline: none;
}

/* Layout */
/* HEADER */
header {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.header {
  display: flex;
  padding: 15px 0;
  color: #fff;
  background: #21333e;
}

.header-left i,
.header-right span > i {
  margin-right: 5px;
}

.header-right span,
.header-right i,
.main-menu ul li{
  margin-left: 30px;
}

.main-menu {
  text-transform: uppercase;
  padding: 20px 0;
}

/* MAIN CONTENT */
/* HERO SECTION */
.hero-section {
  position: relative;
  height: 83vh;
}

.hero-section .slider {
  position: absolute;
  top: 50%;
  right: 40px;
  height: 120px;
  z-index: 1;
}

.hero-section .slider .circle {
  width: 10px;
  height: 35px;
  border: 1px solid #038484;
  border-radius: 10px;
}

.circle:hover {
  background: #038484;
}

.hero-section .hero {
  position: relative;
  height: 100%;
  background-image: url('../img/bg-parallax.png');
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: 50% 40%;
}

.hero-section .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 28%;
  text-align: center;
}

.title h1 span, h2 span {
  padding: 8px 10px;
  color: #038484;
  background: #d5e7e8;
  border-radius: 5px;
}

.title > p {
  margin-bottom: 45px;
}

.hero-section .title > button {
  margin: 0 10px;
}

/* BUSINESS AREA */
.business-area {
  height: 100vh;
}

.business-area .container .title > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.business-area .container .title button {
  width: 200px;
  margin-left: 50px;
}

.business-area .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 65px;
}

.service-card {
  position: relative;
  width: 350px;
  height: 280px;
  margin-bottom: 35px;
  padding: 40px;
  background: #ffffff;
  border-radius: 10px;
}

.service-card .arrow {
  position: absolute;
  top: 15%;
  right: 10%;
  width: 40px;
  height: 40px;
}

.service-card .arrow i {
  font-size: 26px;
  margin-left: 8px;
  color: #82c1c1;
}

.service-card i {
  font-size: 45px;
  color: #058283;
}

/* THE COMPANY */
.company, .results, .get-in-touch {
  display: flex;
  height: 80vh;
  background: #111117;
}

.company > div {
  width: 50%;
  height: 100%;
}

.company .company-left {
  position: relative;
  background: #111117;
}

.company .company-right {
  background-image: url('../img/about-4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 40%;
}

.company .company-left > .about {
  position: absolute;
  top: 0;
  right: 5%;
  width: 60%;
  height: 100%;
  padding: 60px 0;
  color: #fff;
}

.company-left h2 > span {
  color: #fff;
  background: #0e272d;
}

.info {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.info > div {
  width: 50%;
  margin-bottom: 35px;
  border-radius: 10px;
}

.info i {
  color: #0b98a6;
}

.info .title {
  width: 100%;
}

.info .title button:first-child {
  margin-top: 40px;
  margin-right: 20px;
}

/* PROJECTS */
.actions-projects {
  height: 120vh;
  padding: 140px 0;
}

.actions-projects .title {
  text-align: center;
}

.actions-projects .navbar-nav {
  text-transform: uppercase;
  margin: 30px 0;
  padding: 0 80px;
}

.actions-projects .projects {

}

.actions-projects ul {
  flex-wrap: wrap;
}

.actions-projects .projects .project {
  width: 350px;
  height: 350px;
  margin: 25px 0;
  background: black;
  border-radius: 20px;
  overflow: hidden;
}

.project img {
  height: 100%;
}

/* RESULTS */
.results .numbers {
  background-image: url('../img/bg-7.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.numbers {
  text-align: center;
  width: 100%;
  height: 80%;
  color: #fff;
}

.numbers h2 span {
  color: #fff;
  background: #0c2c2e;
}

.numbers .container {
  padding: 120px 0;
}

.info-numbers {
  display: inline-flex;
}

.info-numbers .title {
  margin: 0 50px;
  color: #fff;
}

.info-numbers .title h2 {
  color: #00a6a6;
}

.get-in-touch {
  background: #fff;
}

.get-in-touch .container:first-child {
  width: 60%;
  background: red;
}

.get-in-touch .container:last-child {
  width: 40%;
  height: 100%;
  background: blue;
}
