/* GENERAL STYLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #21333e;
  background: #eef4ed;
}

a {
  text-decoration: none;
  color: #21333e;
  outline: none;
  transition: 0.2s linear;
}

li {
  list-style: none;
}

/* Typhography */
h1 {
  font-size: 80px;
  margin-bottom: 35px;
}

h2 {
  font-size: 50px;
  margin: 35px 0;
}

h3 {
  font-size: 25px;
  margin-bottom: 25px;
}

h4 {
  text-transform: uppercase;
  color: #00a6a6;
}

p {
  font-size: 18px;
}

/* Utilities */
.container {
  position: relative;
  width: 1150px;
  height: 100%;
  margin: auto;
}

.flex-spb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-spb-col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

button {
  text-transform: uppercase;
  font-size: 18px;
  padding: 12px 25px;
  color: #fff;
  background: #038484;
  border-radius: 5px;
  border: none;
  outline: none;
}

.btn-light {
  color: #038484;
  background: #fff;
  border: 1px solid black;
  transition: 0.5s linear;
}

.btn-dark {
  color: #fff;
  background: transparent;
  border: 1px solid #038484;
  transition: 0.5s linear;
}

button:hover {
   box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.btn-light:hover {
  color: #fff;
  background: #038484;
  border: 1px solid #038484;
}

.btn-dark:hover {
  color: #038484;
  background: #fff;
  border: 1px solid black;
}

/* Layout */
/* HEADER */
header {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.header {
  display: flex;
  padding: 15px 0;
  color: #fff;
  background: #21333e;
}

.header-bottom {
  -webkit-transition: all 0.4s ease;
  transition: all 0.8s ease;
}

.header-bottom .inverse {
  background-color: rgba(255,255,255,0);
}

.header-bottom .transparent {
  background-color:rgba(0,0,0,1);
}

.header-left i,
.header-right span > i {
  margin-right: 5px;
}

.header-right span,
.header-right i {
  margin-left: 30px;
}

.main-menu ul li {
  margin-right: 30px;
}

.main-menu ul li:hover a {
  color: #038484;
}

.main-menu {
  text-transform: uppercase;
  padding: 20px 0;
}

.logo {
  width: 170px;
}

.logo img {
  width: 100%;
}

/* Main Content */

/* HERO SECTION */
#hero-section {
  position: relative;
  height: 85vh;
}

#hero-section .slider {
  position: absolute;
  top: 50%;
  right: 40px;
  height: 120px;
  z-index: 1;
}

#hero-section .slider .circle {
  width: 10px;
  height: 35px;
  border: 1px solid #038484;
  border-radius: 10px;
}

.circle:hover {
  background: #038484;
}

#hero-section a:focus .circle {
  background: #038484;
}

#hero-section .hero {
  position: relative;
  height: 100%;
  background-image: url('../img/bg-parallax.png');
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: 50% 40%;
}

#hero-section .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;;
  text-align: center;
}

.title h1 span, h2 span {
  padding: 8px 10px;
  color: #038484;
  background: #d5e7e8;
  border-radius: 5px;
}

.title > p {
  margin-bottom: 45px;
}

#hero-section .title > button {
  margin: 0 10px;
}

/* SERVICES */
#services {
  height: 1150px;;
}

#services .container .title > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#services .container .title button {
  width: 200px;
  margin-left: 50px;
}

#services .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 65px;
}

.service-card {
  position: relative;
  width: 350px;
  height: 280px;
  margin-bottom: 35px;
  padding: 40px;
  background: #ffffff;
  border-radius: 10px;
}

.service-card .arrow {
  position: absolute;
  top: 15%;
  right: 10%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.service-card .arrow i {
  font-size: 26px;
  margin-left: 8px;
  color: #82c1c1;
}

.service-card .arrow:hover {
  background: #7ed1d0;
}

.service-card .arrow:hover i {
  color: #038484;
}

.service-card i {
  font-size: 45px;
  color: #058283;
}

/* ABOUT */
#about, .results {
  position: relative;
  display: flex;
  height: 800px;
  background: #111117;
}

.separatore-1 {
  position: absolute;
  top: -35px;;
  left: 45%;
  width: 190px;
  height: 80px;
  background-image: url(../img/bullets.png);
  background-size: cover;
  opacity: 0.3;
  z-index: 1;
}

.separatore-2 {
  position: absolute;
  bottom: -40px;;
  left: 45%;
  width: 190px;
  height: 80px;
  background-image: url(../img/bullets.png);
  background-size: cover;
  opacity: 0.3;
  z-index: 1;
}

#about .about-left, #about .about-right {
  width: 50%;
  height: 100%;
}

#about .about-left {
  position: relative;
  background: #111117;
}

#about .about-right {
  background-image: url('../img/about-4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 40%;
}

#about .about-left > .about {
  position: absolute;
  top: 0;
  right: 5%;
  width: 60%;
  height: 100%;
  padding: 60px 0;
  color: #fff;
}

.about-left h2 > span {
  color: #fff;
  background: #0e272d;
}

.info {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.info > div {
  width: 50%;
  margin-bottom: 35px;
  border-radius: 10px;
}

.info i {
  color: #0b98a6;
}

.info .title {
  width: 100%;
}

.info .title button:first-child {
  margin-top: 40px;
  margin-right: 20px;
}

/* PROJECTS */
#projects {
  height: 1200px;
  padding: 140px 0;
}

#projects .title {
  text-align: center;
}

#projects .navbar-nav {
  text-transform: uppercase;
  margin: 30px 0;
  padding: 0 80px;
}

#projects .navbar-nav ul li a {
  padding: 10px;
  border-radius: 5px;
}

#projects .navbar-nav ul li a:hover {
  background: #daeced;
}

#projects ul {
  flex-wrap: wrap;
}

#projects .projects .project {
  position: relative;
  width: 350px;
  height: 350px;
  margin: 25px 0;
  background: #000;
  border-radius: 20px;
  overflow: hidden;
}

.project img {
  height: 100%;
  opacity: 1;
}

.projects a:hover .project img {
  opacity: 0.5;
}

.projects .project .middle {
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(0%, 0%);
  width: 100%;
  text-align: center;
  color: white;
  opacity: 0;
  transition: .5s ease;
}

.projects .project .middle i {
  position: absolute;
  top: -80px;
  right: 20px;
  font-size: 25px;
}

.projects a:hover .project .middle {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

/* RESULTS */
#results {
  background: #000;
}

#results .numbers {
  background-image: url('../img/bg-7.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#results .container {
  padding: 120px 0;
}

.numbers {
  text-align: center;
  width: 100%;
  height: 80%;
  color: #fff;
}

.numbers h2 span {
  color: #fff;
  background: #0c2c2e;
}

.info-numbers {
  display: inline-flex;
}

.info-numbers .title {
  margin: 0 50px;
  color: #fff;
}

.info-numbers .title h2 {
  color: #00a6a6;
}

/* GET IN TOUCH */
#get-in-touch {
  height: 880px;
  padding: 100px 0;
  background: #fff;
}

#get-in-touch .container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

#get-in-touch .container .contacts-left {
  width: 60%;
}

#get-in-touch .container .contacts-right {
  width: 30%;
}

#get-in-touch .container > div .form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}

#get-in-touch .container > div .form input {
  width: 320px;
  margin: 10px;
}

.form > textarea {
  width: 100%;
  height: 200px;
  margin: 10px;
}

#get-in-touch input, .form > textarea {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  padding: 16px 8px;
  background: #ececec;
  border: none;
  border-radius: 5px;
  outline: none;
}

.contacts-right p {
  margin-bottom: 30px;
}

div .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  margin-right: 12px;
  border-radius: 50%;
  background: #daeced;
}

div .circle i {
  font-size: 20px;
  color: #058283;
}

div .circle:hover i {
  color: #fff;
}

.contacts-right > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 30px 0;
}

/* FOOTER */
footer section {
  height: 60vh;
  color: #fff;
  background: #111117;
}

footer section .container {
  height: 100%;
}

section .container .credits {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

section .container .credits .credit-box {
  width: 260px;
  height: 340px;
  padding: 40px;
  background: #19191f;
  border-radius: 10px;
}

section .container .credits .credit-box:first-of-type {
  justify-content: space-between;
  padding: 0;
  background: transparent;
}

.credit-box > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.credit-box i, .credit-box > ul li a {
  margin-right: 10px;
  color: #fff;
  transition: 0.2s linear;
}

.credit-box ul li {
  margin-bottom: 15px;
}

section .container .credits button {
  width: 200px;;
}

.footer {
  font-size: 18px;
  height: 10vh;
  color: #fff;
  background: #000;
}

.footer span {
  color: #00a6a6;
}

.credit-box ul li a:hover, .credit-box ul li a:hover i {
  margin-left: 5px;
  color: #8fffff;
}
